@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap');

:root {
  --first-color: #252525;
  --second-color: #6830c3;
  --third-color: #80ffdb;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: white;
}

html {
  background-color: var(--first-color);
}

#root {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-top: 2em;
  background-color: var(--second-color);
}

/* Task container (input and taskList */
.taskContainer {
  min-width: 80%;
  display: flex;
  flex-direction: column;
}

/* Add task form */
.addTask {
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.2em;
}

.addTask input {
  color: var(--first-color);
  width: 100%;
  padding: 0.3em 0 0.3em 0.7em;
  border: none;
  border-radius: 5px 0 0 5px;
}

.addTask button {
  border: none;
  cursor: pointer;
  padding: 0 0.5em 0 0.5em;
  border-radius: 0 5px 5px 0;
}

/* Task elm */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third-color);
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em 0 0.5em 0;
  border-radius: 5px;
}

.task p {
  margin-left: 0.7em;
  color: var(--first-color);
}

.checked {
  text-decoration: line-through;
}

.taskBtns {
  margin-right: 0.3em;
  display: flex;
  max-height: min-content;
}
